.container
  .page-header
    h3 Account Info
  .row-fluid
      br
      if (user.owner)
        h3 Members:
        br
        table.table
          thead
            tr
              th  User Name
              th  Owner
              th  Access
          tbody 
            each auser in acctusers      
              tr 
                td #{auser.name}
                td
                  if (auser.owner)
                    i.icon-ok
                td
                    if (auser.suspended)
                      form(method="post", action='/account/activate/#{auser.id}/')
                        input.btn(type="submit", value='Activate')
                    else
                        form(method="post", action='/account/suspend/#{auser.id}/')
                          input.btn(type="submit", value='Suspend')
            br
            tr
                form.form-horizontal(action='/account/adduser', method='POST')
                  td
                    input#newemail(type='email', name='new_email',placeholder='email of person to add')
                  td
                    input.btn.btn-primary(type='submit', value='New')
                  td
            //  tr
                td  
                  h5 Share this link with people you wish to add:   #{hostname}/uregister/#{suURL}/
      br           
      h3 Change My Password:
      br
      form.form-horizontal.users(name='password', action='/acct-pwrd', method='post')
        .control-group
          label.control-label(for="password") Current Password:
          .controls
            input.input-xlarge#password(required, name='currentPwd', type='password', placeholder="Current Password")
            .control-group
          label.control-label(for="password") New Password:
          .controls
            input.input-xlarge#password(required, name='newPwd',  type='password', placeholder="New Password")
        .control-group
          label.control-label(for="password") Confirm Password:
          .controls
            input.input-xlarge#password(required, name='confirmPwd', type='password', placeholder="Confirm Password")
        .control-group
          input.btn.btn-primary.pull-right(type='submit', value='Change Password')
      br
      if (user.freeAcct)
        h3 Upgrade Account:
        br
        form.form-horizontal.users(name='upgrade', action='/acct-upgrade', method='post')
          .control-group
            label.control-label(for="auth") Authentication Code:
            .controls
              input.input-xlarge#password( name='authcode', placeholder="upgrade code")
          .control-group
            input.btn.btn-primary.pull-right(type='submit', value='Upgrade')
      br
      a.btn(href='https://docs.google.com/a/kolabria.com/spreadsheet/viewform?formkey=dGw0Vnh2OGNobExOQXdmeHJfRnNFVEE6MQ',target='_blank') Report Bug
      
     
  