.container
  .page-header
    h1 Gateway:  #{box.name}
    if mode == 'master'
      h3.pull-right Pair Code: #{box.pairCode}
  .row-fluid
      br
      h3 Published Whiteboards:
      br
      table.table
        thead
          tr
            th Name
            th
            th Remove From Controller
        tbody
          each wall in box.pubList
            tr 
              td #{wall.wallName}
              td
                a.btn(onclick="goDraw('#{wall.wallID}')") Draw
              td
                form(method="post", action='/published/#{wall.wallID}/')
                  input(type="hidden", name="_method", value="delete")
                  input.btn(type="submit", value='remove')
      h3 Local Whiteboards:
      br
      table.table
        thead
          tr
            th Name
            th Assign Owner
            th
            th Delete
        tbody
          each lw in box.localList
            tr 
              //- td #{lw.wallName}
              td
                form.form-horizontal(action='/host/list/#{lw.wallID}/rename', method='POST')
                  script 
                    this.VKI_size=5;
                    this.VKI_showVersion= false;
                  input.keyboardInput(id='N#{lw.wallID}', type='text', name='wallName',value='#{lw.wallName}')
                  input.btn.btn-primary(type='submit', value='Rename')
              td
                form.form-horizontal(action='/host/list/#{lw.wallID}/assign', method='POST')
                  script 
                    this.VKI_size=5;
                    this.VKI_showVersion= false;
                  input.keyboardInput(id='O#{lw.wallID}', type='text', name='email',placeholder='bob@acme.com')
                  input.btn.btn-primary(type='submit', value='Assign')
              td                
                a.btn(onclick="goDraw('#{lw.wallID}')") Draw
              td
                form(method="post", action='/host/list/#{lw.wallID}/')
                  input(type="hidden", name="_method", value="delete")
                  input.btn(type="submit", value='delete')
          br 
          tr
            td
              a.btn.btn-primary(onclick='newWall()') New Wall 
    if mode == 'slave' 
      a.btn.btn-primary.pull-right(href='/sdestroy-pair') Disconnect
    if mode == 'master' && device == 'SW'
      a.btn.btn-primary.pull-right(href='/sdestroy-room') Logout
block localjs
  script
    var mode = '#{mode}';
    var device = '#{device}'; 
    var boxID = '#{box.id}';