extends drawlayout
block toolbar
  li.btn-group.dropup#users
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-user
        span.caret
      ul.dropdown-menu
        li
          h4 Active Users
        li.divider

block functions                        
  .pull-right
    a.brand(href="#") #{box.name}
    nav#functions.nav.btn-group
      button.tool.btn(type='button', onclick='', value='Export')
        i.icon-download-alt
      a.quit.btn.pull-right(href='/join')
        i.icon-off

block localjs
  script
    var wallId = '#{box.defaultWall_ID}';
    var companyId = '#{box.company_id}'; //from application 
    var name = "#{userName}"

  script(src='http://'+base+'/javascripts/canvas-toBlob.min.js')
  script(src='http://'+base+'/javascripts/FileSaver.min.js')
  
block localAnalytics
  script
    _gaq.push(['_trackEvent', 'Wall', 'Join Load',"#{box.name}"]);
