extends drawlayout
block toolbar
  li.btn-group.dropup#walls
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-inbox
        span.caret
      ul.dropdown-menu
        li
          h4 Available Walls
        li.divider
  li.btn-group.dropup#users
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-user
        span.caret
      ul.dropdown-menu
        li
          h4 Active Users
        li.divider

block functions            
  .pull-right
    a.brand(href="#") #{hbox.name}
    nav#functions.nav.btn-group
      a.settings.btn(href='/settings')
        i.icon-wrench
      a.quit.btn.pull-right(href='/host/draw')
        i.icon-off

block localjs
  script
    var wallId = '#{hbox.defaultWall_ID}';
    var name = "#{rbox.name}";
    var companyId = '#{hbox.company_id}'; //from application 
    var boxID = '#{rbox.id}'; //if name is not unique