!!! 5
html
  head
    title #{title}
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi")
    base(href='//'+base+'/')
    link(rel='stylesheet', href='//'+base+'/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='//'+base+'/stylesheets/wall.css')
    link(rel='stylesheet', href='//'+base+'/stylesheets/fileuploader.css')
    link(rel='stylesheet', href='//'+base+'/stylesheets/video.css')   
    link(rel='stylesheet', href='//'+base+'/stylesheets/jquery-ui.css')
    //link(rel='stylesheet', href='//'+base+'/stylesheets/font-awesome.min.css')  
  body.background
    #videoconf
    #ssarea1
    #ssarea2
    #ssarea3
    #audioconf
    #chatarea
        h3(align='center') Chat
        div
         div.inlineBlock
           form#messageForm
             input#outgoingMessage.form-control(type='text', placeholder='Enter message', name='message',)
             input(type="button", value="Send")#sendchat
        div#messages
    #audioParticipants
      #audioarea.audiolist
        h3(align='center') Conference Call
        hr
        p Participants
        table#audioTable(cellpadding='10', cellspacing='3')
          tr
            th Name
            th Status
        br
        div#audioStartCtl
          hr
          a#AudioMakeCall.btn(onclick='makeAudioCall()', style='float: right;' ) Call 
          //
            hr
          
            h4(align='center') Join Call
            hr
            table
            tr
              td
              td
                a#AudioMakeCall.btn(onclick='makeAudioCall()', style='float: right;' ) Call 
            
              tr
                td
                  input#callMeNumber(type='text', name='callMeNumber', placeholder='Number to call you at - coming soon')
                td
                  a.btn(onclick='callMe()') Call Me
              tr
                td
                  p  Call 1-800-555-1212 (Coming Soon)
        div#audioStopCtl
          a#AudioEndCall.btn(onclick='hangUpAudio()', style='float: right;') Hang Up
          hangUpAudio
        br
        br
        button.btn.btn-small.btn-success.hints#confCallAdd(data-toggle='tooltip', title='Add Participants',type='button', onclick='audioAddPeople()' )
          i.icon-plus
        div#audioAddPeople
          input#personToAdd(type='text', name='personToAdd', placeholder='Enter name or number of person')
          a.btn(onclick='audioAddPerson()') Call
          
    .canvas
      header.navbar.navbar-fixed-bottom 
        nav#toolbar.toolbar
            ul.nav.pull-left
              li.btn-group.dropup.pen
                button.btn.tool.hints(data-toggle='tooltip', title='Draw Tool',type='button', onclick='', value='Pen')
                  i.icon-pencil   
                button.btn.dropdown-toggle.hints(id='color_btn', data-toggle='tooltip', title='Colors',data-toggle="dropdown")       
                  span.caret
                ul.dropdown-menu.pull-right
                  li
                    button.btn.btn-inverse.color(type='button', onclick='', value='Black')
                  li
                    button.btn.btn-danger.color(type='button', onclick='', value='Red')
                  li 
                    button.btn.btn-success.color(type='button', onclick='', value='Green')
                  li
                    button.btn.btn-primary.color(type='button', onclick='', value='Blue')
              li  
                button.btn.tool.hints(data-toggle='tooltip', title='Pan and Zoom',type='button', onclick='', value='Nav')
                  i.icon-move
              li  
                button.btn.tool.hints(data-toggle='tooltip', title='Select Tool',type='button', onclick='', value='Select')
                  i.icon-hand-up
              //- li  
                //- button.btn.tool(type='button', onclick='', value='Show')
                  //- i.icon-play-circle 
              //li.btn-group.dropup.hints#vconf(data-toggle='tooltip', title='Video Conference')
              li
                button.btn#chat(data-toggle="dropdown", onclick='',value='Chat')
                  i.icon-comment
              li
                button.btn#audioCall(data-toggle="dropdown")
                  img(src='/img/icon-phone.png')
              li.btn-group.dropup#vconf
                button.btn.dropdown-toggle#vconfDd(data-toggle="dropdown")
                  i.icon-facetime-video
                  span.caret
                ul.dropdown-menu
                  //- li.btn(data-value='vcFull')
                    //- h4 Full Screen
                  //- li.btn(data-value='vcSplit')
                    //- h4 Split Screen
                  //- li.btn(data-value='vcHangup')
                    //- h4 Hangup
                  li.btn#vcCall(data-value='vcCall')
                    h4 Call                          
              block toolbar
          block functions
      .whiteboard!= body
      #navWindow
        #view
        .btn-group                  
          button.btn.tool(type='button', onclick='', value='ZoomIn')
            i.icon-plus
          button.btn.tool(type='button', onclick='', value='Center')
            i.icon-asterisk
          button.btn.tool(type='button', onclick='', value='ZoomOut')
            i.icon-minus
      #alerts
        .alert.fade.in#loading  Whiteboard Loading      
          img(src ='../img/ajax-loader.gif')
    #ssdisplay.modal.hide.fade
      .modal-body
        section
          h3 Share Your Screen
          button#init-RTCMultiConnection(title='Only first person should click this button in the entire media session.') Open Session
        table(style='width: 100%; border-left: 1px solid black;')
        tbody
          tr
            td
              h3(style='display: block; text-align: center;') Screen Sharing using WebRTC
              section#local-media-stream(style='width: 34em;')
    #pptLoad.modal.hide.fade
      .modal-body
         h3  Loading Presentation
    #pptList.modal.hide.fade
      .modal-header
        h3 Presentation Viewer
      .modal-body
        table.table
          tbody#presList
      .modal-footer
        a.btn(onclick='javascript:pptListClose();') Close
        a
    #shareLink.modal.hide.fade
      .modal-header
        h3 Share Whiteboard
      .modal-body
        input#shareinvite(type='email', placeholder='email to share whiteboard')
        a.btn.btn-primary(onclick='javascrip:shareinvite()') Share
        #salert
        br
        p Or share this link:
        h4 #{base}/suw/#{wall.shareURL}
      .modal-footer
        a.btn(onclick='javascript:shareLinkClose();') Close
    #audioCallModal.modal.hide.fade
      .modal-header
        h3 Conference Call - 3 Ways to Join
      .modal-body
        ul(style='list-style-type:none;')
          li(style='margin-bottom: 10px;')
            a.btn(onclick="makeAudioCall();") Web Call
          li(style='margin-bottom: 10px;')
            input#callMeNumber(type='text', name='callMeNumber',placeholder='Number to call you at - coming soon')
            a.btn(onclick="callMe();") Call Me
          li(style='margin-bottom: 10px;')
            p Call 1-800-555-1212 (coming soon)
      .modal-footer 
        a.btn(onclick="closeAudioModal();") Cancel
    #endAudioCallModal.modal.hide.fade
      .modal-body
        a.btn(onclick="hangUpAudio();") Hang Up
        a.btn(onclick="closeEndAudioModal();") Cancel
    block upmodal
    #pptShow.modal.hide.fade
      .modal-header
        h3 
      .modal-body
        #embedded_doc         
      .modal-footer
        a.btn.btn-primary( onclick='javascript:viewerBegin();') Slide 1
        a.btn.btn-primary( onclick='javascript:viewerPrev();') Prev
        a.btn.btn-primary( onclick='javascript:viewerNext();') Next
        a.btn(onclick='javascript:viewerClose();')
          | Close
          a
    block localjs
    script(src='//'+base+'/javascripts/jquery-2.0.3.min.js')
    //script(src='//'+base+'/javascripts/jquery-1.7.2.min.js')
    script(src='//'+base+'/javascripts/ios.js')
    script(src='//'+base+'/javascripts/bootstrap.min.js')
    script(src='//'+base+'/javascripts/paper.js')     
    //script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
    script(src='//'+base+'/javascripts/jquery-ui.js')  //new ui but breaks tool tips and maybe other stuff
    script(src='//'+base+'/javascripts/touch-punch.min.js')
    script(src='//'+base+'/javascripts/fileuploader.min.js')
    script(src='//www.scribd.com/javascripts/scribd_api.js')
    
    script(src='//'+base+'/javascripts/ua-parser.min.js')
    //script(src='//'+base+'/javascripts/RTCMultiConnection-v1.2.js')
    script(src='//'+base+'/javascripts/RTCMultiConnection-v1.4.js')
    script(src='//'+base+'/javascripts/firebase.js')
    script(src='//'+base+'/javascripts/fluidgrid.js')
    
    //this is what allows realtime communication,
    script(src='//'+base+'/nowjs/now.js') 
    // video conference and screen sharing
    script(src='//'+base+'/javascripts/canvas2image.js')
    script(src='//'+base+'/javascripts/video.js')
    //General All purpose JS
    block clientjs
    script
      var wallInit;
      $(document).ready(function(){
        wallInit = true; 
        $('.hints').tooltip({delay: { show: 750, hide: 100 }});
        $('.hints').tooltip('disable');  //  disable for now since problems
        
      });
    - if (ie)
      script(src='//'+base+'/javascripts/iewall.js', canvas='myCanvas', type="text/paperscript");
    - else
      - if (jslibcomp)
        script(src='//'+base+'/javascripts/wall.min.js', canvas='myCanvas', type="text/paperscript");  
      - else
        script(src='//'+base+'/javascripts/wall.js', canvas='myCanvas', type="text/paperscript");
    script
       

    script
      //Analytics  

    block localAnalytics 
    script
      //IOS and mobile adjustments
      iOS_disableZooming();
      iOS_disableScrolling();
      window.onorientationchange = function(){
        if ( orientation == 0 || orientation == 180) {
          window.scrollTo(0,1);
      }};
    