body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') #{title}
        .nav-collapse
          ul.nav
            li.active
              a(href='/') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
        p.navbar-text.pull-right
              | Logged in as 
              a(href='#') #{company.adminEmail} 
              | | 
              a(href='/sdestroy') Logout

  .containerr-fluid.well.span8
    .row-fluid
        h1 WikiWall - Details
          br
          h2 Device Info
          br
          table.table
            thead
              tr
                th Device ID
                th Room Name
                th Update Room Name
                th
            tbody
              tr
                form.form-horizontal(action='/controllers/#{box.id}/edit', method='post')
                  td #{box.id}
                  td #{box.name}
                  td
                    input#id_box_name(type='text', name='box_name', value='#{box.name}')
                  td
                    input.btn.btn-primary.btn-small(type='submit', value='Update')


    .row-fluid
        h2 Devices on Quick Share List
        table.table
          thead
            tr
              th Box ID
              th Room Name
              th
          tbody
            each sb in shareList
              tr
                td #{sb}
                td 
                td
                  a.btn(href='/controllers/#{box.id}/unshare/#{sb}/') Remove
            tr
              form.form-horizontal(action='/controllers/#{box.id}/share', method='post')
                td(colspan='2')
                  input#id_data(type='text', placeholder='BoxID or Box Name', name='data')
                td
                  input.btn.btn-primary.btn-small(type='submit', value='Add')
        a.btn(href='/controllers/') Back




  //
     /container 
  //
     Le javascript
  //
     Placed at the end of the document so the pages load faster 
      script(src='../assets/js/jquery.js')
  script(src='//code.jquery.com/jquery-latest.min.js')
  script(src='/javascripts/bootstrap.js')
