.container
  .page-header
      h1 WikiWall - Details
  .row-fluid
        br
        h2 Wall Info
        br
        table.table
          thead
            tr
              th Name
              th Update Wall Name
              th
          tbody
            tr
              form.form-horizontal(action='/userwalls/#{wall.id}/', method='post')
                input(type="hidden", name="_method", value="put")
                td 
                  label(for="wallName"+wall.name) #{wall.name}
                td
                  input(id="wallName"+wall.name, type='text', name='wall_name', value=wall.name)
                td
                  input.btn.btn-primary(type='submit', value='Update')
  .row-fluid
      h2 Current users sharing wall
      table.table
        thead
          tr
            th User email
            th
        tbody
          each user in userList
            tr
              td #{user}
              td
                form(method="post", action='/userwalls/#{wall.id}/unshare/#{user}/')
                  input(type="hidden", name="_method", value="delete")
                  input.btn(type="submit", value='remove')
          tr
            form.form-horizontal(action='/userwalls/#{wall.id}/share', method='post')
              input(type="hidden", name="_method", value="put")
              td
                label(for="id_data") Add registed user to share wall
              td
                input#id_data(type='text', placeholder='User email', name='data')
              td
                input.btn.btn-primary(type='submit', value='Add')
  .row-fluid
      h2 List of rooms wall is published too
      table.table
        thead
          tr
            th Name
            th
        tbody
          each box in wall.publishedTo
            tr
              td #{box}
              td
                form(method="post", action='/userwalls/#{wall.id}/unpublish/#{box}/')
                  input(type="hidden", name="_method", value="delete")
                  input.btn(type="submit", value='remove')
          tr
            form.form-horizontal(action='/userwalls/#{wall.id}/publish', method='post')
              input(type="hidden", name="_method", value="put")
              td
                label(for="id_data") Add name of room to publish too
              td
                input#id_data(type='text', placeholder='Room Name', name='data')
              td
                input.btn.btn-primary(type='submit', value='Add')
      a.btn(href='/userwalls/') Back
      br 