.container
  .page-header
    h1 Free Account
    h2 User:  #{user.name}
  .row-fluid
      br
      h3 WikiWalls:
      br
      table.table
        thead
          tr
            th  WikiWall Name
            th.hints(data-toggle='tooltip', title='Use this link to share your wikiwall with others') Share Link
            th.hints(data-toggle='tooltip', title='Go have a whiteboard meeting')  Draw
        tbody
          
          tr 
            td #{wall.name}
            td #{hostname}/suw/#{wall.shareURL}
            td
              a.btn(href='/user/#{wall.defaultWall_ID}/draw') open
      h3 Shared WikiWalls
      table.table
        thead
          tr
            th.hints(data-toggle='tooltip', title='List of walls shared with you by other registered users') WikiWall Name
            th.hints(data-toggle='tooltip', title='Go have a whiteboard meeting') Draw
        tbody
          each swall in user.SharedWithMe
            tr 
              td #{swall.wallName}
              td
                a.btn(href='/user/#{swall.wallID}/draw') Open
