extends drawlayout
append toolbar
  li.btn-group.dropup#shareTo
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-share
        span.caret
      ul.dropdown-menu
        li
          h4 Share Wall {#{box.PIN}}
        li.divider
        for sb in box.shareList
          li.btn(data-value='#{sb}')
            span #{sb}
            i
  li.btn-group.dropup#walls
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-inbox
        span.caret
      ul.dropdown-menu
        li 
          h4 Available Walls
        li.divider
  li.btn-group.dropup#users
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-user
        span.caret
      ul.dropdown-menu
        li
          h4 Active Users
        li.divider
block functions                     
  .pull-right
  a.brand(href="#") #{name} - Home Wall
  nav#functions.nav.btn-group
    a.settings.btn(href='/settings')
      i.icon-wrench 
    a.clear.btn(href='/trash/#{box.id}')
      i.icon-trash

block localjs
  script
    var wallId = '#{box.defaultWall_ID}';  
    var name = "#{box.name}";
    var companyId = '#{box.company_id}'; //from application 
    var boxID = '#{box.id}'; //if name is not unique

