ul.nav.pull-left
  li.btn-group.dropup.pen
    button.btn.tool(type='button', onclick='', value='Pen')
      i.icon-pencil   
    button.btn.dropdown-toggle(data-toggle="dropdown")       
      span.caret
    ul.dropdown-menu.pull-right
      li
        button.btn.btn-inverse.color(type='button', onclick='', value='Black')
      li
        button.btn.btn-danger.color(type='button', onclick='', value='Red')
      li 
        button.btn.btn-success.color(type='button', onclick='', value='Green')
      li
        button.btn.btn-primary.color(type='button', onclick='', value='Blue')
  li  
    button.btn.tool(type='button', onclick='', value='Nav')
      i.icon-move
  li  
    button.btn.tool(type='button', onclick='', value='Select')
      i.icon-hand-up
  li.btn-group.dropup#shareTo
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-share
        span.caret
      ul.dropdown-menu
        li
          h4 Share Wall {#{box.PIN}}
        li.divider
        for sb in box.shareList
          li.btn(data-value='#{sb}')
            span #{sb}
            i
  li.btn-group.dropup#walls
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-inbox
        span.caret
      ul.dropdown-menu
        li 
          h4 Available Walls
        li.divider
  li.btn-group.dropup#users
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-user
        span.caret
      ul.dropdown-menu
        li
          h4 Active Users
        li.divider            
.pull-right
a.brand(href="#") #{name} - Home Wall
nav#functions.nav.btn-group
  a.settings.btn(href='/settings')
    i.icon-wrench 
  a.clear.btn(href='/trash/#{box.id}')
    i.icon-trash



