extends drawlayout
block toolbar
  li.btn-group.dropup.hints#ShareScreen(data-toggle='tooltip', title='Screen Sharing')
    button.btn.dropdown-toggle(data-toggle="dropdown")
      i.icon-fullscreen
      span.caret
    ul.dropdown-menu
      li.btn#ssSize(data-value='ssSize')
        h4 Minimize
      li.btn#ssCapture(data-value='ssCapture')
        h4 Capture Screen
  li.btn-group.dropup.hints#shareTo(data-toggle='tooltip', title='Share wtih another room or join with PIN code')
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-share
        span.caret
      ul.dropdown-menu
        li
          h4 Share Wall {#{wall.PIN}}
        li.divider
        for sb in rbox.shareList
          li.btn(data-value='#{sb.boxID}')
            span #{sb.boxName}
            i
  li.btn-group.dropup.hints#walls(data-toggle='tooltip', title='Shared from another room')
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-inbox
        span.caret
      ul.dropdown-menu
        li
          h4 Available Walls
        li.divider
  li.btn-group.dropup.hints#users(data-toggle='tooltip', title='Meeting attendees & Share Link')
      button.btn.dropdown-toggle(data-toggle="dropdown")
        i.icon-user
        span.caret
      ul.dropdown-menu
        li
          h4 Active Users
        li.divider
block functions            
  .pull-right
    a.brand #{wall.name}
    nav#functions.nav.btn-group
      a.settings.btn.hints(data-toggle='tooltip', title='Settings', href='http://localhost:3000/settings')
        i.icon-wrench
      a.quit.btn.pull-right.hints(data-toggle='tooltip', title='Exit', href='/host/list')
        i.icon-off

block localjs
  script
    var wallId = '#{wall.defaultWall_ID}';
    var name = "#{rbox.name}";
    var companyId = '#{wall.company_id}'; //from application 
    var boxID = '#{rbox.id}'; //if name is not unique

block localAnalytics
  script
   
