.container
  .page-header
    h1 Sys Admin View
  .row-fluid
      br
      h3 Users:
      br
      table.table
        thead
          tr
            th  User Name
            th  email
            th  Company
            th  Phone
            th  Created
            th  Last Login
            th  Times Logged In
            th  Beta
        tbody
          - var cnt = 0;
          each user in users
            - cnt = cnt + 1;           
            tr 
              td #{user.name}
              td #{user.Email}
              td #{user.company}
              td #{user.phone}
              if (user.createdOn)
                - var d = user.createdOn
                - var cDate = (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear()
                - var cTime = d.getHours()+':'+d.getMinutes()
              else
                - var cTime = cDate = ''
              td #{cDate} - #{cTime}
              if (user.lastLogin)
                - var d = user.lastLogin
                - var cDate = (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear()
                - var cTime = d.getHours()+':'+d.getMinutes()
              else
                - var cTime = cDate = ''
              td #{cDate} - #{cTime}
              td 
                if (user.timesLogin)
                  #{user.timesLogin}
              td 
                if (user.beta)
                  i.icon-ok
 
      h4 Total users = #{cnt}
      br
      a.btn(href='/syspwreset') Reset User's Password
      br
      br
      table.table
        thead
          tr
            th  User Name
            th  email
            th  Free Account
            th  Beta
            th  # Walls
            th  Details
            th  Remove
        tbody
          - var cnt = 0;
          - var total = 0;
          each user in users
            - cnt = cnt + 1;
            if (user.numWalls)
              - total = total + user.numWalls;
            tr 
              td #{user.name}
              td #{user.Email}
              td 
                if (user.freeAcct)
                  i.icon-ok
              td 
                if (user.beta)
                  i.icon-ok
              td #{user.numWalls}
              td
                a.btn(href='/sysadmin/#{user.id}/details') Details
              td
                form(method="post", action='/sysadmin/user/#{user.id}/')
                  input(type="hidden", name="_method", value="delete")
                  input.btn(type="submit", value='remove')
      - var average = total/cnt;
      h4 Total Walls = #{total}
      h4 Total users = #{cnt}
      h4 Average walls / user = #{average}
      br
      h4 Average paths / wall = #{avgPath}
      br
      h3 Controllers
      table.table
        thead
          tr
            th Controller Name
            th ID
        tbody
          each box in boxes
            tr 
              td #{box.name}
              td #{box.id}
      h3 Meetings
      table.table
        thead
          tr
            th Wall ID
            th Date
            th Time
            th Duration (min)
            th Active
            th Max Participants
            th User
            th Box
            th URL
            th Join
            th VC Used
            th SS Used
            th SS Capture
            th E-Image        
        tbody
          - var cnt = 0;
          each m in meetings
            - cnt = cnt + 1;    
            tr 
              td #{m.wallId}
              if (m.active)
                - var stop = new Date()
              else
                - var stop = m.stopTime 
              - var dur = stop-m.startTime
              - var min = Math.round(((dur % 86400000) % 3600000) / 60000)
              - var d = m.startTime
              - var meetDate = (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear()
              - var meetTime = d.getHours()+':'+d.getMinutes()
              td #{meetDate}
              td #{meetTime}
              td #{min}
              td
                if (m.active)
                  i.icon-ok
              td #{m.maxParticipants}
              td 
                if (m.fromUser)
                  i.icon-ok
              td 
                if (m.fromBox)
                  i.icon-ok
              td 
                if (m.fromURL)
                  i.icon-ok
              td 
                if (m.fromJoin)
                  i.icon-ok
              td 
                if (m.vcUsed)
                  i.icon-ok
              td
                if (m.ssUsed)
                  i.icon-ok
              td
                if (m.ssCapture)
                  i.icon-ok
              td
                if (m.embeddedImage)
                  i.icon-ok
      h4 Total Meetings = #{cnt}          
      br
      a.btn(href='https://docs.google.com/a/kolabria.com/spreadsheet/viewform?formkey=dGw0Vnh2OGNobExOQXdmeHJfRnNFVEE6MQ',target='_blank') Report Bug

                  
                  
                  