.container
  .page-header
    h1 Sys Admin View
  .row-fluid
      br
      h3 User: #{user.Email}
      br
      table.table
        thead
          tr
            th  Wall Id
            th  Created
            th  Last Opened
            th  # Opened
            th  Shared
            th  Published
        tbody
          each wall in walls
            tr 
              td #{wall.id}
              - var d = wall.createdOn
              - var cDate = (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear()
              - var cTime = d.getHours()+':'+d.getMinutes()
              td #{cDate} - #{cTime}
              if (wall.lastOpened)
                - d = wall.lastOpened
                - cDate = (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear()
                - cTime = d.getHours()+':'+d.getMinutes()
              else
                - cDate = cTime = ''
              td #{cDate} - #{cTime}
              td #{wall.timesOpened}
              td
                if (wall.userSharedWith.length > 0)
                  i.icon-ok
              td 
                if (wall.publishedTo.length >0)
                  i.icon-ok
      h3 Meetings
      table.table
        thead
          tr
            th Wall ID
            th Date
            th Time
            th Duration (min)
            th Active
            th Max Participants
            th User
            th Box
            th URL
            th Join
            th VC Used
            th SS Used
            th SS Capture
            th E-Image        
        tbody
          each m in meetings
            tr 
              td #{m.wallId}
              if (m.active)
                - var stop = new Date()
              else
                - var stop = m.stopTime 
              - var dur = stop-m.startTime
              - var min = Math.round(((dur % 86400000) % 3600000) / 60000)
              - var d = m.startTime
              - var meetDate = (d.getMonth()+1)+'/'+d.getDate()+'/'+d.getFullYear()
              - var meetTime = d.getHours()+':'+d.getMinutes()
              td #{meetDate}
              td #{meetTime}
              td #{min}
              td
                if (m.active)
                  i.icon-ok
              td #{m.maxParticipants}
              td 
                if (m.fromUser)
                  i.icon-ok
              td 
                if (m.fromBox)
                  i.icon-ok
              td 
                if (m.fromURL)
                  i.icon-ok
              td 
                if (m.fromJoin)
                  i.icon-ok
              td 
                if (m.vcUsed)
                  i.icon-ok
              td
                if (m.ssUsed)
                  i.icon-ok
              td
                if (m.ssCapture)
                  i.icon-ok
              td
                if (m.embeddedImage)
                  i.icon-ok
      a.btn(href='/sysadmin/') Back