.container
  .page-header
    h1 User:  #{user.name}
  .row-fluid
      br
      h3 WikiWalls:
      br
      table.table
        thead
          tr
            th WikiWall Name
            th  Link
            th
            th
            th Edit
            th Remove
        tbody
          each wall in walls
            tr 
              td #{wall.name}
              td https://points.kolabria.com:80/suw/#{wall.shareURL}
              td 
                if (wall.userSharedWith[0])
                  p Shared
              td
                a.btn(href='/user/#{wall.defaultWall_ID}/draw') Draw
              td
                a.btn(href='/userwalls/#{wall.defaultWall_ID}/edit') properties
              td
                form(method="post", action='/userwalls/#{wall.defaultWall_ID}/')
                  input(type="hidden", name="_method", value="delete")
                  input.btn(type="submit", value='remove')
          tr
            form.form-horizontal(action='/userwalls', method='POST')
              td
                input#id_wall_name(type='text', name='wall_name')
              td
                input.btn.btn-primary(type='submit', value='Add')
              td
      h3 Shared WikiWalls
      table.table
        thead
          tr
            th WikiWall Name
            th
        tbody
          each swall in user.SharedWithMe
            tr 
              td #{swall.wallName}
              td
                a.btn(href='/user/#{swall.wallID}/draw') Draw
 