!!! 5
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title WikiWall List
    meta(name='generator', content='TextMate http://macromates.com/')
    meta(name='author', content='Ted Judge')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="viewport", content="width=device-width, height=device-height user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi")
    // Date: 2011-11-03 
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.6.4.min.js')   
    script(type='text/javascript', src='/javascripts/jquery.cookie.js')
       
    script(type='text/javascript')
      $(document).ready(function(){
        var uname = $.cookie('uname');
        console.log("name",uname);
        $("#welcome").html("<h1>Hi " + uname + "</h1>");
      });
      function go(link){
        window.location.assign(link);
      }

body
  div#welcome
    h1 Hi
  h1 Your WikiWalls:
  ul
    - each wall in walls
      li 
        a(class='button',href='/editinfo/'+wall.paper_ref) Edit Info
        a(class='button destroy',href='/delete') Delete
        a(class='button',href='/draw5/'+wall.paper_ref) Go
        a(href='/draw5/'+wall.paper_ref) #{wall.name}
        //input(name="test", type="button", class='button', value='Go', onclick="javascript:go('/draw5/'+#{wall.paper_ref});")
        //input(name="test2", type="text", value=wall.name, onclick="javascript:go('/draw5/'+#{wall.paper_ref});") 
    
  p 
    a(class='button', href='/newwall') + New WikiWall
